# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
*.pyc
*.png
*.jpg
*.jpeg
/img/*
/img
/.vscode/*
/.idea/*
user/migrations
question/migrations
questionnaire/migrations
result/migrations
log.txt
nohup.out